absl-py
audioread
barbar
cachetools
certifi
cffi
chardet
charset-normalizer
click
cycler
decorator
Distance
fastdtw
filelock
future
g2p-en
gitdb
GitPython
google-auth
google-auth
grpcio
idna
importlib-metadata
inflect
Jinja2
joblib
kiwisolver
lazy_loader
librosa
llvmlite
Markdown
MarkupSafe
matplotlib==3.2.1
mpmath
msgpack
networkx
nltk
numba
numpy==1.25.2
oauthlib
packaging
Pillow
platformdirs
pooch
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
python-dateutil
pytorch-ignite
# PyYAML
regex
requests
requests-oauthlib
resampy
rsa
six
smmap
soundfile
sympy
threadpoolctl
tqdm
typing_extensions
urllib3
Werkzeug
zipp
